.main-container {
	.home-header {
		display: flex;
		align-items: baseline;

		img {
			width: 4rem;
		}

		h1 {
			font-size: 4.5em;
			margin: 0;
		}

		h3 {
			margin-left: 0.5em;
		}
	}

	.login-logout {
		width: 80rem;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		margin-top: 5rem;

		a {
			color: grey;
			text-decoration: none;
			padding: 0.7rem;
			border: 1px solid grey;
			border-radius: 9px;
			margin: 2rem;
		}
	}
}
